html.announcements {

  div.announcement {
    margin-bottom: 20px;
    
    h1 {
      margin-bottom: 20px;
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 15px;
      padding-bottom: 0;
    }

    .delete-announcement {
      float: right;
      margin-top: 18px;
    }
  }
}