
$texto: LucidaGrande, sans-serif;
$info: "Helvetica Neue", Helvetica, Arial, sans-serif;
$titulos: Georgia, serif;

$fondo: #F1F1E7;
$verde_neon: #61ECA9;
$negro: #484848;
$rojo: #E44410;
$azul_neon: #14E3B7;
$azul_gris: #199DB6;

