<% if document.respond_to?(:editorships) %>
  <div class="editorships">
    <p>
    En la elaboraci칩n de esta 
    <%= t("activerecord.models.#{document.class.name.downcase}") %>
    han participado:
    </p>

    <% document.editorships.each do |editorship| %>
      <%= avatar_link editorship.user, size: :small, class: 'fixed' %>
  <% end %>
  <br><br>
  <h5>Pr칩ximamente se habilitar치 la zona de comentarios / discusi칩n</h5>
  </div>
<% end %>

