<% if document.respond_to?(:editorships) %>
  <div class="editorships">
  <h3>Editores
    <small><%= document.editorships.count %>
  </h3>
    <p>Han participado en la elaboración de este contenido</p>
    <% document.editorships.each do |editorship| %>
      <%= avatar_link editorship.user, size: :small, class: 'fixed' %>
  <% end %>
  </div>
<% end %>

