<% title '(500) Algo ha ido mal...' %>

<%= content_for :head do %>
  <style>
    html {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAMCAYAAABm%2BU3GAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDFGQjFFNjk5ODQ0MTFFMTg4MThGQjlBNzE3MEU1MjQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDFGQjFFNkE5ODQ0MTFFMTg4MThGQjlBNzE3MEU1MjQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0MUZCMUU2Nzk4NDQxMUUxODgxOEZCOUE3MTcwRTUyNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0MUZCMUU2ODk4NDQxMUUxODgxOEZCOUE3MTcwRTUyNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI%2FPkFemWEAAAEwSURBVHjaYvz48fl%2FBhoAJgYaAZoZzIIuEPX1DpwdzCbEEMwqxND84ynDyb9fwGJdHHIMWsycDGt%2Fv2OY%2F%2Bs1w6f%2Ffxny2SXA6vAaDALLuFXgbJABT%2F79YtjCrc5w8s8Xhok%2FXzDUckiDaZAYCPh8vYlhMNagAGkCuQYEQIYmsYmC2eYsPAzX%2F30HY5BBfIzMYCzDyAa2FMXFHT%2Bebbz095s%2FzKU1QNc8%2Ff%2BLofT7I7A30QHIIJBlyIAXKIYcjHrMXBsZcSW39G%2F3wbQF0JWwcAQZmPH9PjicW4DhDgsyuy%2FXwMHCB7UAZ%2BSBXLDnz0eGGVyKDObMPAxR3%2B6ADd8NFAOFLyjypJnYwJZ%2FBoq7svCjGAoCWF0MCi%2BQRhkgxid27e93MA2yCB0wDrmcBxBgANMeirbgRFB2AAAAAElFTkSuQmCC);
    }
    a#cinco {
      display: block; overflow: hidden;
      text-indent: -1000px;
      margin: 180px auto;
      width: 510px; height: 510px;
      background-image: url('/error500.png');
    }
    a#cinco:hover { background-position: 0 -510px;}

  </style>
<% end %>

<a href="http://masqueunacasa.org" id="cinco">
  Algo ha ido mal... Lo sentimos, estamos 
  tratando de solucionarlo.
</a>
