<% title '(500) Algo ha ido mal...' %>

<%= content_for :head do %>
  <style>
    html {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATZJREFUeNpi%2FPjxuQIDA0MCA5UACxCDDKynloFMDFQGLOgCa3%2B%2FY1j76x2YrcnMyVDLIQ0Wm%2FjzBQMfIzNDPrsEgzkzD0Pzj6cMn%2F7%2FZZjJpYjfwCf%2FfkE0sfCA%2BSBNIMO2cKuD%2BT5fbzIc4tFicGPlZ5j%2F8zVxXl4DdNH8X6%2FBhl3%2F%2B53BlYUf7DoQBrnu5J8vYDGsXp7286XKkT%2BfwZxgNiGGYFYhhuv%2FvoNdtfv3R7BrQQbBADIbBkDeB1kMNjCLXfwOEKMokGFiY%2BBjYGZI%2F36fgRdoAMhFDOwQud1%2FPjIksomiqAeFM84wBNkGAguAXk4AatQCRow00ILS74%2FAQQDyKshCXIARmLAdgPR%2BZEGQi0AuAxmGT%2Bwa0JvIfKwuBAFYDBMSQzcMZuAHID5IrYQNEGAA%2FG5uIfZcF0kAAAAASUVORK5CYII%3D);
    }
    a#cinco {
      display: block; overflow: hidden;
      text-indent: -1000px;
      margin: 50px auto;
      width: 510px; height: 510px;
      background-image: url('/error501.png');
    }
    a#cinco:hover { background-position: 0 -510px;}

  </style>
<% end %>

<a href="http://masqueunacasa.org" id="cinco">
  Algo ha ido mal... Lo sentimos, estamos 
  tratando de solucionarlo.
</a>
