<%= page row: false, head: false do %>
  <%= group_header %>
  <div class="row">
    <div class='span8'>
      <%= title 'Editar mensaje colectivo' %>
      <%= render 'form' %>
    </div> 
  </div>
<% end %>

