<%= render 'groups/header' %>
<div class="row">
  <div class="bloc controls span12">
    <%= link_box 'Añadir participante', new_membership_path %>
  </div>
</div>

<div class="users cards">
  <% memberships.each do |member| %>
    <%= user_card(member.user) do %>
      <%= link_to member.user.name, user_url(member.user, host: request.domain) %>
    <% end %>
  <% end %>
</div>


