<div class="span2">
  <%# render_subscriptors_list document %>
  &nbsp;
</div>
<div class="span6">
  <h3>Comentarios y discusión</h3>
  <%= render_editorships_list document %>
</div>
<div class="span4 sidebar sidebar-right">
  <%= render 'versions/activity', activity: versions %>
</div>

