<%= page_div group: false do %>
  <div class="row">
    <div class="span10 offset2">
      <h2><%= link_to document.title, document %></h2>
      <%= title 'Mesa de edición' %>
    </div>
  </div>

  <div class="row">
    <%= render 'show' %>
  </div>
<% end %>
