.sass-cache
.DS_Store
.idea
.project
.bundle
config/initializers/smtp_settings.rb
db/*.sqlite3
log/**
tmp/**/*
tmp/**
public/uploads/**
public/assets/**
public/system
*.swp
vim
.rvmrc
.ruby-version

Masqueunacasa.sublime-*
