<h1><%= @title %></h1>

<p>Recibes este email porque eres administradorx en
<a href="http://masqueunacasa.org">masqueunacasa.org</a>.
Si no deseas recibir estos emails, escríbenos a 
<a href="mailto:hola@masqueunacasa.org">hola@masqueunacasa.org</a>
</p>
<%= render @activities.versions %>
