<h1>Has pedido cambiar la contraseña</h1>

<p>
Pulsa en 
<%= link_to 'este enlace', password_recovery_url(id: @user.reset_password_token, 
                                                 host: @host) %>

                                               para cambiar la contraseña.</p>
