<h1>Has pedido cambiar la contraseña</h1>

<p>Alguien (esperamos que tu) ha solicitado recuperar la
contraseña de tu cuenta en <%= link_to 'Masqueunacasa', 'http://masqueunacasa.org' %></p>
<p>
Pulsa en 
<%= link_to 'este enlace', password_recovery_url(id: @user.reset_password_token) %>
para cambiar la contraseña.
</p>
<p>Ignora este mensaje si no has solicitado el cambio de contraseña o escríbenos a <%= link_to 'hola@masqueunacasa.org', 'mailto:hola@masqueunacasa.org' %> si tienes alguna duda.</p>
<p>Un saludo, el equipo de <%= link_to 'masqueunacasa.org', 'http://masqueunacasa.org' %></p>
