<div id="comments" class="row">
  <div class="span6">
    <h3><%= t('activerecord.models.comments') %>:</h3>

    <%= render document.comments %>
    <%= render 'comments/form', document: document if can? :create, Comment %>
  </div>
</div>

