<div id="comments" class="row">
  <div class="span6">
    <h3><%= t('activerecord.models.comments') %>:</h3>

    <%= render document.comments %>
    <% if can? :create, Comment %>
      <div class="new-comment">
        <h4><%= t '.new_comment' %>:</h4>
        <%= render 'comments/form', document: document, comment: Comment.new if
          can? :create, Comment %>
      </div>
    <% end %>
  </div>
</div>

