.activity.block-row
  = "#{ link_to activity.owner.name, activity.owner } #{ t '.action', lang: t('langs.' + activity.parameters[:locale]) } \
    #{ link_to activity.trackable.title, T.w_l(activity.parameters[:locale]) { url_for(activity.trackable) } }.".html_safe

