.activity.block-row
  => link_to activity.owner.name, user_url(activity.owner)
  => t '.action', lang: t('langs.' + activity.parameters[:locale])
  = link_to activity.trackable.title, T.w_l(activity.parameters[:locale]) { polymorphic_url activity.trackable }

