<%= div_for experiencie, class: 'card' do %>
  <div class="corner none"></div>
  <div class="card-content">
    <div class="avatar">
      <img alt="Añadir experiencia" src="//cambelt.co/140x140/E%2B?font=Questrial&amp;font_size=48&amp;color=#cccccc,#333333">
    </div> 
    <div class="info">
      <%= link_to experiencie.title, experiencie %>
    </div>
  </div>
<% end %>

