<div class='span6 offset2'>
  <%= title "Añadir experiencia" %>
  <% if related_proposal %>
    <h4>En <%= link_to related_proposal.title, related_proposal %></h4>
<% end %>
  <%= render 'form' %>
</div>
