<%= page do %>
  <div class='span6 offset2'>
    <% if related_proposal %>
      <h3>En <%= related_proposal.title %></h3>
    <% end %>
    <%= title "Añadir experiencia" %>
    <%= render 'form' %>
  </div>
<% end %>
