<%= render_banner 'Experiencias', experiencies_path %>

<div class="row">
  <%= corner_span('user_editor span12') do %>
    <%= title "Añadir experiencia" %>
    <%= render 'form' %>
  <% end %>
</div>
