@import 'variables';

#background {
  background-color: #F1F1E7;
  margin: 20px auto;
}

.email-content {
  padding: 80px 70px;
}

h1, h2, h3 {
  color: #484848;
  font-family: Georgia, serif;
}

a {
  color: #61ECA9;
}

p {
  color: #484848;;
  font-family: LucidaGrande, sans-serif;
  font-size: 14px;
}

p.footer {
  padding: 5px 20px;
  font-size: 10px;
}
