.image-gallery {
  margin-top: 32px;
  margin-bottom: 20px;
  .hover {
    top: -30px;
  }

  .galleria {
    height: 480px;
  }
}

.images-list {
  .image-container {
    width: 125px;
    float: left;

    img {
      vertical-align: top;
      max-width: 100px;
      max-height: 70px;
    }
  }

  .image-title {
    font-weight: bold;
    font-size: 1.2em;
  }
}
