<%= link_to_unless_current avatar_image(group, class: 'fixed'), group %>
<table class="table">
  <tr><td>
      <%= group.memberships_count %> participantes.
  </td></tr>
</table>
<%= render_group_sections group %>
