<div class="main-header group row">
  <div class="banner span12">
    <% if group.banner_image? %>
      <%= image_tag(group.banner_image_url, class: 'responsive', alt: group.name) %>
    <% else %>
      <%= placeholder_image_tag({text: '1170x200px', width: 1170, height: 200}, {class: 'responsive'}) %>
    <% end %>

    <div class="margin">
    </div>
    <div class="overlay">
      <h2><%= group.title %></h2>
      <div class="shape"></div>
    </div>
  </div>
</div>

