<table class="table">
  <tr><td><h3><%= link_to 'Quienes', profile_path %></h3></td></tr>
  <tr><td><h3><%= link_to 'Blog', posts_path %></h3></td></tr>
  <tr><td><h3><%= link_to 'Documentos', pages_path %></h3></td></tr>
</table>

