<table class="table">
  <tr><td><h4><%= link_to 'Perfil', profile_url(subdomain: group.subdomain) %></h4></td></tr>
  <% if group.has_blog? %>
    <tr><td><h4><%= link_to 'Blog', posts_url(subdomain: group.subdomain) %></h4></td></tr>
  <% end %>
  <% if group.has_pages? %>
    <tr><td><h4><%= link_to 'Documentos', pages_url(subdomain: group) %></h4></td></tr>
  <% end %>
</table>

