<div class="sidebar span4">
  
  <% if current_group.site? %>
    <%= render 'groups/groups_cards' %>
  <% else %>
    <%= render 'groups/group_description' %>    
  <% end %>

  <%= yield :sidebar %>
  
</div>
