<div class="sidebar span4">
  <% if current_group.site? %>
    <div class="cards">
      <% current_group.latest_groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
  <% else %>
    <%= corner_span('description', :none) do %>
      <h3>Quiénes</h3>
      <p>
      <%= raw current_group.description %>
      </p>
    <% end %>
  <% end %>
  <!--
  <div class="archive">
    <div class="corner none"></div>
    <div class="content">
      <h3>Archivo</h3>
    </div>
    -->
</div>
