<%= render_banner 'Colectivos', groups_path %>
<% if current_user %>
  <div class="row">
    <div class="controls bloc span12">
      <%= link_box t('.new_group', default: 'Añadir grupo'), 
        new_group_path, class: 'highlight' if can? :create, Group %>
    </div>
  </div>
<% end %>
<div class="groups cards">
  <% groups.each_with_index do |group| %>
    <%= render group %>
  <% end %>
</div>
