<%= render_banner 'Colectivos', groups_path %>
<% if current_user %>
  <div class="row">
    <div class="controls span12">
      <%= link_to t('.new_group', default: 'Añadir grupo'), 
        new_group_path if can? :create, Group %>
    </div>
  </div>
<% end %>
<div class="groups cards">
  <% groups.each_with_index do |group| %>
    <%= group_card(group) %>
  <% end %>
</div>
