<%= render_banner t('.title'), groups_path %>
<% if current_user %>
    <div class="controls member_bar">
      <%= link_box t('.new_group', default: 'Añadir grupo'), 
        new_group_path, class: 'highlight' if can? :create, Group %>
    </div>
<% end %>
<div class="groups cards">
  <% groups.each do |group| %>
    <%= group_card(group) %>
  <% end %>
</div>
