<%= div_for user, class: 'card' do %>
  <div class="corner none"></div>
  <div class="card-content">
    <div class="avatar">
      <%= link_to placeholder_image_tag(width: 140, height: 140), user_url(user, host: request.domain) %>
    </div> 
    <div class="info">
      <%= info %>
    </div>
  </div>
<% end %>

