<%= current_group.site? ? render_banner('Participantes', users_path) : 
  render('groups/header') %>

<div class="users cards">
  <% users.each do |user| %>
    <%= user_card(user) %>
  <% end %>
</div>
