<div class="row">
  <div class="span6 offset2">
    <%= title 'Participantes en Masqueunacasa.org' %>
    <table class="table users">
      <% users.each do |user| %>
        <tr>
        <td><%= avatar_link user, size: :small %></td>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
