<%= current_group.site? ? render_banner('Participantes', users_path) : 
  render('groups/header') %>

<div class="users cards">
  <% users.each do |user| %>
    <%= user_card(user) do %>
      <%= link_to user.name, user_url(user, host: request.domain) %>
    <% end %>
  <% end %>
</div>
