<%= current_group.site? ? render_banner('Participantes', users_path) : 
  render('groups/header') %>

<div class="users cards">
  <% users.each do |user| %>
    <%= div_for user, class: 'card' do %>
      <div class="corner none"></div>
      <div class="card-content">
        <div class="avatar">
          <%= placeholder_image_tag(width: 120, height: 120) %>
        </div> 
        <div class="info">
          <%= link_to user.name, user %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
