<div class="sections summary">
  <table class="table">
    <tr><td>
        <h5>Índice</h5>
    </td></tr>
    <tr class="title">
      <td style="font-weight: bold"><%= link_to document.title, '#' %></td>
    </tr>
    <% document.sections.each do |section| %>
      <% if section.title.present? %>
      <tr>
      <td><%= link_to section.title, "##{section.title}" %></td>
    </tr>
  <% end %>
  <% end %>
  </table>
</div>

