<h3><%= link_to 'Ãndice', "#" %></h3>
<table class="table">
  <% document.sections.titled.each do |section| %>
    <tr><td><%= link_to section.title, "##{section.title}" %></td></tr>
  <% end %>
</table>

