<%= page_div do %>
  <div class="row">
  <div class="span2">
    &nbsp;
  </div>
  <div class="span6">
    <%= title "Editar propuesta" %>
    <%= render 'form' %>
  </div>
  <div class="span2">
  </div>
</div>
<% end %>
