<div class="span6 offset2">
  <%= title 'Añadir propuesta' %>
  <h5>A la pregunta <%= link_to proposal.category.title, proposal.category %></h5>
  <%= render 'form' %>
</div>
<div class="span4">
  <%= markdown t('markdown.help') %>
</div>
