<div class="archive">
  <div class="corner none"></div>
  <div class="content">
    <h3><%= t('.archive') %></h3>
    <ul class="months">
      <% posts_archive.sort.reverse.each do |month, posts| %>
        <li class="month">
        <h4><%= l month, format: :month_year %></h4>
        <ul>
          <% posts.each do |post| %>
            <li>
            <%=link_to_unless_current post.title, post %>
            </li>
          <% end %>
        </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
