<div class="row">
  <div class="header bloc span12">
    <div class="banner">
      <h2><%= current_group.name %></h2>
      <%= placeholder_image_tag({text: '1170x200px', width: 1170, height: 200}, {class: 'responsive'}) %>
      <div class="margin"></div>
    </div>
  </div>
</div>

