  <div class="sidebar span4">
    <div class="description">
      <div class="corner none"></div>
      <div class="content">
        <h3>Quiénes</h3>
        <p>
        <%= current_group.description %>
        </p>
      </div>
    </div>

    <div class="archive">
      <div class="corner none"></div>
      <div class="content">
        <h3>Archivo</h3>
      </div>
  </div>
