<%= page row: false, head: false do %>
  <%= render_group_header current_group %>
  <div class="row">
    <div class='post-editor editor span12'>
      <%= title t('.title') %>
      <%= render 'form' %>
    </div>
  </div>
<% end %>
