<%= render 'header' %>
<div class="row">
  <div class="bloc span12">
    <%= link_to 'Volver', posts_path %>
  </div>
</div>
<div class="row">
  <div class="bloc span2">
    <%= title post.title %>
  </div>
  <div class="bloc span6">
    <%= post.body %>
  </div>
</div>

