.activity.block-row
  = "#{ link_to activity.owner.name, activity.owner } #{ t '.action' } \
    #{ link_to activity.trackable.title,
         T.w_l(activity.parameters[:locale]) { url_for activity.trackable } } \
    #{ t '.to_locale', lang: t('langs.' + activity.parameters[:locale]) }.".html_safe

