.admin-row table {
  width: 100%;
  margin-top: 15px;

  td {
    padding: 8px;
  }

  td.translations {
    text-align: center;

    &.true {
      color: #0f0;
    }

    &.false {
      color: #f00;
    }
  }
}
