body {
  background: transparent;
}

html {
  background: #484848;
}

#wrapper {
  background: #fff image-url('fondos/fondo.png');
}

#header, #content {
  background: $fondo;
}

.right-block.help {
  background-color: $negro;
}

.right-block.relation, .right-block.activities-block {
  background-color: $fondo;
}

#footer {
  background: #ababab;
}

