.phases.index .category {
  background-color: #C5E6ED;
  overflow: visible;

  h2 {
    span.phase-icon {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 4px;
      margin-top: -15px;
    }
  }

  &.organizacion h2 span.phase-icon {
    background: image-url('icons/f-organizacion-on.png') no-repeat left top;
  }

  &.realizacion h2 span.phase-icon {
    background: image-url('icons/f-realizacion-on.png') no-repeat left top;
  }

  &.uso-y-vida-util h2 span.phase-icon {
    background: image-url('icons/f-uso-on.png') no-repeat left top;
  }

  .category-summary {
    padding-bottom: 30px;
  }

  .category-proposals {
    position: relative;
    background-color: #E8F6F9;

    .toggle-proposals-list {
      height: 22px;
      padding: 4px 8px 4px 38px;
      position: absolute;
      top: -30px;
      left: 0;
      line-height: 22px;
      font-size: 14px;
      font-weight: bold;
      background: #E8F6F9 image-url('icons/proposal_icon-small-black.png') no-repeat;
      background-position: 3px center;
      transition: background-position 0.5s;
    }

    .toggle-proposals-list.expanded {
      background-position: -12px center;
      transition: background-position 0.5s;
    }

    ul {
      margin-top: 4px;
      margin-left: 0;
      list-style-position: inside;
      list-style-image: image-url('icons/proposal-list_item.png');
    }
  }
}

.phases.index #sidebar-left .phase-filter {
  padding-left: 25px;
  position: relative;

  span.phase-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -10px;

    &.organizacion {
      background: image-url('icons/f-organizacion-off-mini.png') no-repeat left top;

      &.active {
        background: image-url('icons/f-organizacion-on-mini.png') no-repeat left top;
      }
    }

    &.realizacion {
      background: image-url('icons/f-realizacion-off-mini.png') no-repeat left top;

      &.active {
        background: image-url('icons/f-realizacion-on-mini.png') no-repeat left top;
      }
    }

    &.uso-y-vida-util {
      background: image-url('icons/f-uso-off-mini.png') no-repeat left top;

      &.active {
        background: image-url('icons/f-uso-on-mini.png') no-repeat left top;
      }
    }
  }
}

body.categories.show {
  #main-content h1 {
    padding-left: 35px;
    background: image-url('icons/categories_title.png') no-repeat left top;
  }

  #category-image {
    margin-bottom: 10px;
  }
}


