.dashboard.community {
  .left-block.controls .control {
    background-color: #FBEFC9;
  }

  .group, .user {
    background-color: #FBEFC9;
    overflow: hidden;

    [class*="span"] {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }

    .elem-header {
      background-color: #f7de90;
    }

    h2 {
      span.user-icon {
        background: image-url('icons/user_icon.png') no-repeat left top;
      }

      span.group-icon {
        background: image-url('icons/group_icon.png') no-repeat left top;
      }
    }

    .user-info {
      .summary {
        width: 85%;
        float:left;
      }

      img {
        width: 18%;
        float: right;
      }
    }

    .summary {
      margin-left: -18px;
    }
  }
}

