#comments {
  margin-top: 20px;

  .comment {
    margin-bottom: 1.5em;
    background: #f6f6f6;

    .comment-data {
      background: #eee;

      .user-avatar {
        float: left;
        margin-right: 8px;
      }

      .comment-author {
        margin-top: 4px;
        font-size: 110%;
        font-weight: bold;
      }

      .comment-time {
        font-size: 75%;
      }
    }

    .comment-content {
      padding: 0.5em;
      clear: both;
    }
  }
}

