
@import "variables";

body.dashboard {
  div#session {
    background-color: $verde;
    margin-bottom: 20px;
  }

  div#main {
    .intro.row {
      margin-bottom: 20px;
      .span12 {background-color: $fondo;}
      h1 {
      }
    }
    .info {
      .span4 {
        background-color: $fondo;
      }
    }
  }
}
