.experiencies.index {
  #sidebar-left .left-block.controls .control {
    background-color: #F8E0D4;
  }

  .experiencie {
    background-color: #F8E0D4;
  }

  .lista-visor .visor-elem {
    min-height: 156px;
    max-height: 200px;

    h2 {
      margin-right: -30px;
      background-color: #edbaa1;
    }

    p.no-image {
      position: absolute;
      top: 20px;
      width: 100%;
      text-align: center;
    }
  }

  span.experiencie-icon {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 4px;
    background: image-url('icons/experiencies_icon-black.png') no-repeat left top;
  }
}

body.experiencies.show {
  #main-content h1 {
    padding-left: 35px;
    background: image-url('icons/experiencies_title.png') no-repeat left top;
  }
}

