.experiencies.index {
  .left-block.controls .control {
    background-color: #F8E0D4;
  }

  .experiencie {
    background-color: #F8E0D4;
  }

  .lista-visor .visor-elem {
    min-height: 156px;
    max-height: 200px;
  }
}

.experiencies.show {
  .span6 {
    h1 {
      margin-bottom: 15px;

      &:before, &:after {
        content: "";
        height: 12px;
        display: block;
        margin-bottom: 8px;
        background: image-url('lineas/linea_discontinua.png') repeat-x;
      }

      &:after {
        height: 2px;
        margin-bottom: 0;
        margin-top: 6px;
        background: image-url('lineas/linea_discontinua.png') repeat-x 0 -10px;
      }
    }

    .section {
      h2:before, h2:after {
        content: "";
        height: 2px;
        display: block;
        background: image-url('lineas/linea_discontinua.png') repeat-x 0 -10px;
      }

      h2.no-title:before, h2.no-title:after {
        display: none;
      }
    }
  }
}

