p {
  color: $negro;
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  line-height: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

html.experiencies.index .quadricula {
  #add_image, .experiencie {
    font-size: 18px;
    line-height: 21px;
  }
}
