$font-droid: 'Droid Serif', serif;
$font-open: 'Open Sans', sans-serif;

@mixin title_font($size, $weight, $style: normal) {
  font-family: $font-droid;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin text_font($size, $weight, $style: normal) {
  font-family: $font-open;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 13px;
}

.right-block.help {
  color: #FBF6F6;
  font-style: italic;
}

/* TIPOGRAFÍAS POR DEFECTO */ 
body { @include text_font(13px, normal);
  line-height: 17px;
}

h1 {
  @include title_font(30px, bold);
}

h2 {
  @include title_font(24px, bold);
}


h3 {
  @include title_font(20px, bold);
}

h4 {
  @include title_font(16px, normal);
}

.slogan {
  font-size: 12px;
  color: #32A8BE;
}
