
form {
  input[type=text], input[type=email], input[type=password],
  input[type=url], textarea {
    width: 98%;
    border-radius: 0;
  }

  .help-block {
    display: block;
    margin: -5px 0 5px 0;
    font-size: 90%;
    font-style: italic;
  }

  .help-inline {
    font-size: 16px;
    padding: 0;
    margin: 0 0 10px 0;
  }

  div.title {
    margin-top: 20px;
    input {
      font-size: 200%;
      height: 1.2em;
    }
  }
}

fieldset {
  margin: 0 0 1em;
  padding: 0 0.625em 0;
  border: 1px solid #e5e5e5;
  background-color: darken($fondo, 3%);

  legend {
    margin: 0 0 0.5em;
    border: none;
    line-height: inherit;
  }

  .section-actions {
    margin-top: 10px;
  }
}

form .fields {
  position: relative;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  padding-left: 2.5em;
  border-radius: 5px;
  background: #ddd;
  @include clearfix;

  .remove_nested_fields {
    float: right;
  }

  .image-preview {
    max-width: 160px;
    margin-bottom: 0.5em;
  }

  .handle {
    width: 1.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: transparent image-url('draggable.png') no-repeat center center;
    border-right: 1px solid #999;
    cursor: move;
  }
}

.add_nested_fields_controls {
  margin: 20px 0 0;
}

form .help-block {
  color: green;
}
