
form {
  input[type=text], input[type=email], input[type=password], textarea {
    width: 98%;
    border-radius: 0;
  }

  .help-block {
    display: block;
    margin: -5px 0 5px 0;
    font-size: 90%;
    font-style: italic;
  }

  div.title {
    margin-top: 20px;
    input {
      font-size: 200%;
      height: 1.2em;
    }
  }
}

#content-options-selector {
  padding-bottom: 0;

  label {
    display: inline;
    margin-right: 50px;
  }
}
