
form {
  input[type=text], input[type=email], input[type=password], textarea {
    width: 98%;
  }
}

#content-options-selector {
  padding-bottom: 0;

  label {
    display: inline;
    margin-right: 50px;
  }
}
