@import 'variables';

.group-header {
  .banner {
    width: 100%;
    min-height: 100px;
    position: relative;

    .name {
      position: absolute;
      left: 0; top: 0;
      width: 100%; overflow: hidden;
      h2 { 
        margin: 10px 0 0 10px;
        padding: 10px 40px;
        float: left; background-color: $fondo; 
      }

    }
    .margin {
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      border: 10px solid $fondo;
    }
  }
}

