
@mixin linea-zigzag-doble {
      content: "";
      height: 20px;
      display: block;
      background: image-url('lineazigzag_doble.png') repeat-x;
}

html.show {
  .edition {
    margin-top: 20px;
    padding-top: 10px;
  }
}


