body {
  background-color: transparent;
}

noscript .pad {
  padding: 10px;
  background-color: #E8F6F9;
}

#main {
  position: relative;
}

#content {
  min-height: 35em;
  padding-top: 8px;
  box-shadow: 0 0 10px 0px #999;
}

#main-content {
  margin-bottom: 80px;
  border-bottom: 2px dashed #999;
}

#main-content > .pad {
  padding-right: 8px;
}

#content > .row {
  position: relative;
}

.doc-icon { display: block; margin: 30px auto; }

.pad {
  @include padding;
}

