body {
  background-color: transparent;
}

.corner {
  height: 30px;
  background: image-url('pl-1170.png') no-repeat;
  background-color: transparent !important;
}

#main {
  position: relative;

  a.mquc {
    position: absolute;
    top: 5px;
    left: 21px;
    z-index: 2;
  }

  div.page.bloc {
    padding-top: 16px;
  }
}

/* 
 * Para qué son estos estilos? Se puede hacer de otra manera?
 * Aplica margen superior a mogollon de sitios que no debería..
 * DANI: pues esto sirve para bajar la columna central y la derecha
 * con respecto al breadcrumbs. Ahora no veo dónde no debería...
 * y me parece que, de momento, queda mejor con que sin (desde luego
 * en las pantallas de preguntas, propuestas y experiencias es
 * imprescindible
 */
.page > .row > .span6, .page > .row > .span4 { margin-top: 30px; }

.headrow {
  width: 100%; overflow: hidden;
  .breadcrumbs {
    float: left;
    background-color: $negro;
    color: $fondo;
    font-weight: bold;
    padding: 0 5px;

    a { font-weight: normal; color: $fondo; }
  }
}

.doc-icon { display: block; margin: 30px auto; }
