@import "variables";

html, body {
  background-color: $fondo;
  background-image: image_url('fondos/textura01.png');
}

/* Imágenes que se adaptan al ancho del layout */
img.responsive { width: 100%; }

/* Bloques de color blanco */
div.bloc {
  background-color: $fondo;
}


div#session {
  background-color: $fondo;
  margin-bottom: 20px;
  padding: 10px 0;

  a {
    padding: 2px 5px;
    text-transform: uppercase;
    background-color: $fondo;
  }
}