@import "variables";

html.usersessions, html.users {
  #session .session {
    display: none;
  }

  #main {
    .content {
      padding: 10px 32px 32px;

      h1, h2 {
        font-size: 30px;
        font-weight: bold;
        border-bottom: 2px solid $azul_gris;
      }

    }
  }
}
