.locations.index #main-content h1 {
  padding-left: 8px;
}

#main-map {
  position: relative;

  #extra-controls {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 8px 14px;
    background: rgba(0, 0, 0, 0.75);

    input, label {
      display: inline;
      vertical-align: middle;
    }

    label {
      color: $fondo;
      margin-left: 4px;
    }

    div {
      padding: 6px 0;
    }
  }
}

.infowindow-wrapper {
  position: relative;

  .infowindow-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    left: 0px;
  }

  .infowindow-icon.experiencie {
    background: image-url('icons/experiencies_infowindow_icon.png') no-repeat 0 0;
  }

  .infowindow-icon.group {
    background: image-url('icons/groups_infowindow_icon.png') no-repeat 0 0;
  }

  .infowindow-icon.user {
    background: image-url('icons/users_infowindow_icon.png') no-repeat 0 0;
  }

  .infowindow-header {
    min-height: 34px;
    padding-left: 42px;
  }
}

