@import 'variables';


.section {
  a.edit-section { float: right; }
}

.row.phase {
  margin-bottom: 20px;
}

.section {
  position: relative;
  h2 { margin: 40px 0 0px 0; padding-bottom: 10px; }

  .section-edit {
    margin-right: -40px;
    background-color: $rojo;
    padding: 3px 5px;
    position: absolute; top: 0; right: 0;
    display: none;
    a {
      color: $fondo;
      text-decoration: none;
    }
  }

  &:hover .section-edit { display: block; }
}
