@import "variables";

html.posts {
  
  .header {
    .banner {
      width: 100%;
      min-height: 100px;
      position: relative;

      .name {
        position: absolute;
        left: 0; top: 0;
        width: 100%; overflow: hidden;
        h2 { 
          margin: 10px 0 0 10px;
          padding: 10px 40px;
          float: left; background-color: $fondo; 
        }

      }
      .margin {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        border: 10px solid $fondo;
      }
    }
  }

  .controls {
    margin-bottom: 20px;
  }
  
  .embed-container {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sidebar {
    .description {
      margin-bottom: 20px;
    }
  }
}

div.post.row {
  overflow: hidden;
  margin-bottom: 20px;
  .info, .content {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
  }
}
