.proposals.show {
  h4.category { 
    margin-bottom: 5px; 
    a { color: $negro; }
  }
}

.proposals.show {
  .span6 {
    &>.hoverize:first-child .hover {
      top: 22px;
    }

    h1:before, h1:after {
      content: "";
      height: 20px;
      display: block;
      background: image-url('lineas/lineazigzag_doble.png') repeat-x;
    }

    h1:after {
      height: 8px;
      background: image-url('lineas/lineazigzag.png') repeat-x;
    }

    .category_image {
      margin: 25px 0 30px 0;
    }

    .section {
      h2:before, h2:after {
        content: "";
        height: 8px;
        display: block;
        background: image-url('lineas/lineazigzag.png') repeat-x;
      }
    }
  }
}

.proposals.show.ocre {
  h1:before {
    background-position: 0 -20px;
  }

  h1:after, .section h2:before, .section h2:after {
    background-position: 0 -8px;
  }
} 

.proposals.show.tierra {
  h1:before {
    background-position: 0 -40px;
  }

  h1:after, .section h2:before, .section h2:after {
    background-position: 0 -16px;
  }
} 

// Propuestas de cada categoría
.related-proposals {
  .header {
    padding: 3px 0;
    border-width: 2px;
    border-style: solid;
    img { display: block; margin: -22px auto 0 auto; }
    h2 { display: block; text-indent: 10px; margin-top: -10px; }
  }
}

.category-relations {
  .proposals {
    margin: 0 0px 30px 0px;
    .proposal {
      margin: 10px 0 10px 0;
      padding: 3px 5px;
      border-width: 2px;
      border-style: solid;

      h3 { margin: 10px 10px 0 10px; }
      p { margin: 0 10px 10px 10px; }
      .experiencies-count { 
        border-width: 1px 0 0 0;
        border-style: dashed ;
        padding-top: 3px;
      }
    }
  }
}

// Experiencias relacionadas 
.proposal-relations {
  margin-bottom: 30px;
  .header {
    width: 100%; overflow: hidden;
    img { float: left; }
    h2 {
      margin: 0;
      height: 40px;
      font-weight: normal; 
      padding-top: 3px;
      text-indent: 4px;
      overflow: hidden;
      border-width: 2px 2px 2px 0;
      border-style: solid;
    }
  }

  .relations {
    margin-left: 30px;
    font-size: 12px;
    h3 { 
      font-weight: normal; font-size: 16px; 
      display: block; overflow: hidden;
      line-height: 1.1;
      margin-bottom: 0;
    }

    .relation {
      .experiencie-thumb {
        width: 75px;
        float: left;
        margin: 5px 5px 5px 0;
      }
    }
  }
}
