@media (min-width: 1200px) {
  
}

@media (max-width: 979px) {
  html.dashboard div#main .info .span4 .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  html.dashboard div#main .info .span4 {
    padding: 0;
    margin: 0 0 20px;
  }
}

@media (max-width: 600px) {
  html.dashboard div#main .intro.row .video {
    width: auto;
    margin: 1.5em 2em 0;
    padding-bottom: 50.5%
  }
}

@media (max-width: 480px) {

}
