
.summary.markdown {
  p {
    font-size: 13px;
    line-height: 22px;
  }
}

.section {

  h1, h2, h3, h4 {
    margin-top: 1em;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  li {
    margin-top: 0.2em;
  }

  p, li {
    line-height: 18px;
  }
}
