body {
  background: transparent;
  padding-bottom: 60px;
}

#main {  
  position: relative;
  margin-bottom: 250px;

  &:after {
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: -100px;
    left: 0;
    background-image: asset-data-url('dotted-border-double.png');
    background-color: $fondo;
    background-repeat: repeat-x;
  }
 
  .page.bloc {
    overflow: hidden;
    padding-bottom: 90px;
  }

  .main-header {
    margin-bottom: 30px;

    .banner {
      min-height: 200px;
      position: relative;

      .overlay {
        position: absolute;
        left: 0;
        top: -42px;

        h2 {
          height: 32px;
          margin: 0;
          padding: 20px;
          float: left;
          background-color: $fondo;

          &.black {
            color: $fondo;
            background-color: $negro;
          }
        }
        
        .shape {
          width: 50px;
          height: 72px;
          float: left;
          background-image: image-url('esquinas.png');
          background-position: 0 0;
        }
      }
    }
  }
}

.sidebar {
  h2 {
    font-size: 24px;
    font-weight: normal;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
  }
}

.content, .bloc {
  background-color: $fondo;
}

.content-inner {
  padding-left: 15px;
}

.content {
  padding: 3px 30px 30px 30px;
}

img {
  height: auto;
}

img.centered {
  display: block;
  margin: 0 auto;
}

.corner-opac { 
  height: 30px;
  position: relative;
  background: image-url('corner-opaco.png') no-repeat; 
}

.hoverize {
  position: relative;

  .hover {
    margin-right: -0px;
    background-color: $rojo;
    padding: 3px 5px;
    position: absolute; top: 0; right: 0;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    opacity: 0.1;
    border-radius: 1px;
    a {
      color: $fondo;
      text-decoration: none;
    }
  }
  &:hover .hover { opacity: 0.9; }
}
