#main-content {
  #summary, .text_section {
    margin-top: 10px;
    padding-right: 12px;
  }
}

h1 {
  min-height: 35px;
  margin-top: 0;
  padding-top: 5px;
}

#no-translation-msg {
  width: 85%;
  margin: 6px auto;
  background: #e6e6e6;
  color: inherit;
  border: none;
}

/*
** Anular los estilos de bootstrap para algunos elementos para que
** usen las mismas tipos que el restp del sitio
*/
input, button, select, textarea {
  font-family: inherit;
}

img {
  height: auto;
}

.hoverize {
  position: relative;

  .hover {
    margin-right: -0px;
    background-color: $negro;
    padding: 3px 5px;
    position: absolute; top: 0; right: 0;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    opacity: 0.1;
    border-radius: 1px;
    a {
      color: $fondo;
      text-decoration: none;
    }
  }
  &:hover .hover { opacity: 0.9; }
}

// Fix google map images
.map img {
  max-width: none;
}

#internal-link-code {
  margin-top: 30px;
  margin-bottom: -35px;
  padding-right: 8px;
  color: green;

  .link-code {
    color: #333;
  }
}

// BREADCRUMBS
#breadcrumbs {
  margin-top: -8px;

  a {
    display: block;
    float: left;
    clear: left;
    width: 90%;
    height: 30px;
    padding-left: 35px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a.level-1 {
    height: 33px;
    line-height: 33px;
  }

  a.habitapedia {
    background-image: image-url('icons/breadcrumbs/habitapedia.png');
  }

  a.experiencies {
    background-image: image-url('icons/breadcrumbs/experiencies.png');
  }

  a.community {
    background-image: image-url('icons/breadcrumbs/community.png');
  }

  a.organizacion {
    background-image: image-url('icons/f-organizacion-off.png');
  }

  a.realizacion {
    background-image: image-url('icons/breadcrumbs/realizacion.png');
  }

  a.uso-y-vida-util {
    background-image: image-url('icons/f-uso-off.png');
  }

  a.category {
    background-image: image-url('icons/breadcrumbs/category.png');
  }
}

