body {
  background: transparent;
}

#main-content {
  #summary, .text_section {
    padding-right: 12px;
  }
}

#no-translation-msg {
  width: 85%;
  margin: 6px auto;
  background: #e6e6e6;
  color: inherit;
  border: none;
}

/* Anular los estilos de bootstrap para algunos elementos para que usen las mismas tipos que el restp del sitio */

input, button, select, textarea {
  font-family: inherit;
}

img {
  height: auto;
}

img.centered {
  display: block;
  margin: 0 auto;
}

.hoverize {
  position: relative;

  .hover {
    margin-right: -0px;
    background-color: $negro;
    padding: 3px 5px;
    position: absolute; top: 0; right: 0;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    opacity: 0.1;
    border-radius: 1px;
    a {
      color: $fondo;
      text-decoration: none;
    }
  }
  &:hover .hover { opacity: 0.9; }
}

h2.no-title:before, h2.no-title:after {
  display: none !important;
}

.breadcrumb-image {
  position: relative;
  top: -30px;
}

.map img {
  max-width: none;
}

#internal-link-code {
  margin-top: 30px;
  margin-bottom: -35px;
  padding-right: 8px;
  color: green;

  .link-code {
    color: #333;
  }
}
