#sidebar-left {
  .fixed-block {
    width: 170px;
    padding-bottom: 15px;
  }

  .affix {
    top: 2px;
  }

  .left-block {
    margin-bottom: 10px;
    clear: both;

    .block-row.filter, .block-row.order {
      padding-top: 2px;
      padding-bottom: 1px;
    }

    .block-header, .block-row.control {
      background-color: #D9D9D9;
    }

    .block-header, .block-row {
      margin-bottom: 3px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .block-row.control {
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: right;

      a {
        margin-right: 5px;
      }
    }
  }

  .left-block.controls {
    margin-bottom: 20px;
  }

  .left-block.social .block-row {
    border-bottom: 1px solid #AAA;

    &.editors {
      border-bottom: 0;
    }
  }

  .group-avatar-image, .user-avatar-image {
    text-align: center;

     img {
      max-width: 95%;
    }
  }
}

