.right-block {
  margin-top: 10px;
}

.right-block.help {
  @include padding(8px, 8px, 8px, 8px);
}

.right-block.relation {
  .block-header, .block-row {
    padding: 6px 8px;
  }

  .block-header {
    font-weight: bold;

    $icon-width: 65px;

    min-height: 2em;
    position: relative;
    padding-right: $icon-width + 10px;

    span {
      display: block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      right: 0;
      background-position: 85% center;
      background-repeat: no-repeat;
    }
  }

  .block-row.relation {
    $icon-width: 40px;

    min-height: 1.5em;
    position: relative;
    padding-right: $icon-width + 10px;

    span {
      display: block;
      position: absolute;
      width: $icon-width;
      top: 0;
      bottom: 0;
      right: 0;
      background-position: 85% center;
      background-repeat: no-repeat;
    }
  }

  .block-row.control {
    text-align: right;
  }
}

.right-block.relation.category-proposals,
.right-block.relation.experiencie-proposals {
  .block-header {
    background-color: #c5e6ed;

    span {
      background-color: #199db6;
      background-image: image-url('icons/habitapedia_icon-small.png');
    }
  }

  .block-row.relation span {
    background-image: image-url('icons/proposal_icon-small-black.png');
  }

  .block-row.proposal {
    border-bottom: 1px solid #c5e6ed;
  }
}

.right-block.relation.proposal-experiencies {
  .block-header {
    background-color: #f0c0a9;

    span {
      background-color: #e18254;
      background-image: image-url('icons/experiencies_icon-small.png');
    }
  }

  .block-row.relation span {
    background-image: none;
  }

  .block-row.experiencie {
    border-bottom: 1px solid #f0c0a9;

    span a {
      img {
        width: 100%;
        max-width: none;
        position: absolute;
        top: 0;
        right: 0;
        @include transition(width 0.5s ease);
      }

      img:hover {
        width: 150%;
        z-index: 1;
        @include transition(width 0.5s ease);
      }
    }
  }
}

.right-block.relation.related-links {
  .block-header {
    background-color: #f8acac;

    span {
      background-color: #f15b5c;
      background-image: image-url('icons/related_links_icon-small.png');
    }
  }

  .block-row.relation.link {
    border-bottom: 1px solid #f8acac;

    span {
      text-align: right;

      i {
        margin-right: 4px;
        font-size: 24px;
        line-height: 35px;
      }
    }
  }
}

