#sidebar-left {

  .fixed-block {
    width: 170px;
  }

  .affix {
    top: 2px;
  }

  .left-block {
    margin-bottom: 10px;

    .block-header {
      background-color: #D9D9D9;
    }

    .block-header, .block-row {
      margin-bottom: 3px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .block-row.control {
      padding-top: 3px;
      padding-bottom: 3px;

      a {
        margin-right: 5px;
      }
    }
  }
}
