@import 'variables';

html.textura01 { background-image: asset-data-url('fondos/textura01.png'); }
html.textura02 { background-image: asset-data-url('fondos/textura02.png'); }
html.textura03 { background-image: asset-data-url('fondos/textura03.png'); }
html.textura04 { background-image: asset-data-url('fondos/textura04.png'); }
html.textura05 { background-image: asset-data-url('fondos/textura05.png'); }


html.naranja {
  a, h1, h2, h3, h4, h5, h6 {
    color: $rojo;
  }
  .corner.colored { background-position: 0 -90px; }
}

html.verde_neon {
  .corner.colored { background-position: 0 -30px; }
}

html.azul {
  .corner.colored { background-position: 0 -120px; }
}
