//html.cuatro { background-image: asset-data-url('fondos/textura_e404.png'); }
//html.cinco { background-image: asset-data-url('fondos/textura_e500.png'); }

html.textura_inicio { background-image:
  asset-data-url('fondos/textura_inicio.png'); }
html.textura_habitapedia { background-image:
  asset-data-url('fondos/textura_habitapedia.png'); }
html.textura_organizacion { background-image:
  asset-data-url('fondos/textura_organizacion.png'); }
html.textura_uso { background-image:
  asset-data-url('fondos/textura_uso.png'); }
html.textura_realizacion { background-image:
  asset-data-url('fondos/textura_realizacion.png'); }

// ÉSTAS DEBERÍAN IR FUERA!! TODO: BORRAR CUANDO NO SE NECESITEN
html.textura01 { background-image: asset-data-url('fondos/textura01.png'); }
html.textura02 { background-image: asset-data-url('fondos/textura02.png'); }
html.textura03 { background-image: asset-data-url('fondos/textura03.png'); }
html.textura04 { background-image: asset-data-url('fondos/textura04.png'); }
html.textura05 { background-image: asset-data-url('fondos/textura05.png'); }
html.textura07 { background-image: asset-data-url('fondos/textura07.png'); }
html.textura08 { background-image: asset-data-url('fondos/textura08.png'); }
html.textura09 { background-image: asset-data-url('fondos/textura09.png'); }


html.naranja {
  a {
    color: $naranja;
  }
  .corner.colored { background-position: 0 -90px; }
}

html.azul_gris {
  a {
    color: $azul_gris;
  }

  .corner.colored { background-position: 0 -120px; }
  .corner-opac { background-position: 0 -120px; }
  .dotted-bg { background: asset-data-url('fondos/textura_puntos.png'); }
  .line-box { border: 2px solid $azul_gris; }
}

html.rojo, html.tierra {
  a {
    color: $rojo;
  }
  h1, h2, h3, h4, h5, h6 {
    //color: $rojo;
  }

  .corner.colored { background-position: 0 -90px; }
  .corner-opac { background-position: 0 -90px; }

  .dotted-bg { background: asset-data-url('fondos/textura_puntos-rojo.png'); }
  .line-box { border: 2px solid $rojo; }

}

html.amarillo, html.ocre {
  a {
    color: darken($ocre, 30%);
  }
  h1, h2, h3, h4, h5, h6 {
  }

  .corner.colored { background-position: 0 -90px; }
  .corner-opac { background-position: 0 -90px; }
  .dotted-bg { background: asset-data-url('fondos/textura_puntos-rojo.png'); }
  .line-box { border: 2px solid $ocre; }
}

html.azul_neon {
  a {
    color: $azul_neon;
  }

  .corner.colored { background-position: 0 -30px; }
}


html.verde_neon {
  a {
    color: $verde_neon;
  }
  h1, h2, h3, h4, h5, h6 {
    //color: $verde_neon;
  }

  .corner.colored { background-position: 0 -30px; }
}


html.negro {
  a {
    color: $negro;
  }
  h1, h2, h3, h4, h5, h6 {
    //color: $negro;
  }

  .corner.colored { background-position: 0 -60px; }

  .dotted-bg { background: asset-data-url('fondos/textura_puntos.png'); }
}

.corner.naranja { background-position: 0 -90px; }
.corner.rojo { background-position: 0 -60px; }
.corner.azul_neon { background-position: 0 -30px; }
.corner.verde_neon { background-position: 0 -60px; }
.corner.azul_gris { background-position: 0 -120px; }
.corner.negro { background-position: 0 -60px; }

