html.usersessions.new, html.usersessions.create {
  #page_content {

    .dotted-bg {
      padding-top: 30px;
      padding-bottom: 30px;

      h1, h2 {
        margin-bottom: 35px;
        padding-bottom: 15px;
        border-bottom: 2px solid $azul_neon;
      }
    }
  }
}
