

.author {
  width: 100%; overflow: hidden;
  margin: 5px 0;
  padding: 10px 0;
  border-top: 1px solid $negro;
  border-bottom: 1px solid $negro;

  img.avatar { float: left; margin-right: 10px;}

}
