$fondo: #FFFFFF;
$verde_neon: #61ECA9;
$negro: #484848;
$naranja: #E44410;
$azul_neon: #14E3B7;
$azul_gris: #199DB6;
$rojo: #F15B5B;
$tierra: #E18255;
$ocre: #F1BE2D;

@mixin padding($pad_top: 0px, $pad_right: 0px, $pad_bottom: 0px, $pad_left: 8px) {
  padding: $pad_top $pad_right $pad_bottom $pad_left;
}

