.activity {
    h2 { margin: 6px 0 -4px 8px; }
    .version {
      margin: 6px 6px;
      padding: 6px;
      background: $fondo;
    }
  }

  .version {
    img.avatar { float: left; margin-right: 5px; }
    .time { display: block; font-style: italic; }
  }

