.lista-visor .visor-elem {
  margin-bottom: 10px;
  overflow: hidden;

  h2 {
    margin: 5px 0;
    position: relative;
    min-height: 33px;
    padding-left: 38px;
    padding-right: 10px;

    a {
      color: inherit;
    }
  }

  .image-container {
    position: relative;
  }
}

