.lista-visor .visor-elem {
  margin-bottom: 10px;
  overflow: hidden;

  h2 {
    margin: 0;
    position: relative;
    padding: 5px 10px 7px 38px;

    a {
      color: inherit;
    }
  }

  .summary {
    padding-top: 6px;
  }

  .image-container {
    position: relative;
  }
}

