#mq1c-description {
  font-size: 14px;
  padding: 16px 8px 8px;
}

.dashboard.welcome {
  .objetivo {
    margin-bottom: 8px;
    padding: 8px 16px 8px 8px;
  }
}

#obj-1 {
  background-color: #C5E6ED;
}

#obj-2 {
  background-color: #F8E0D4;
}

#obj-3 {
  background-color: #FBEFC9;
}

