<div class="row">
  <div class="header-image span12">
    <%= placeholder_image_tag(text: '1170x200px', width: 1170, height: 200) %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= link_to 'Editar' %>
  </div>
  <div class="span6">
    <%= title group.name %>
  </div>
</div>

