<%= page do %>
  <div class="span6 offset2">
    <%= title "Editar pregunta: #{category.question}" %>
    <br>
    <h3>En la fase '<%= phase.title %>'</h3>
    <br>
    <%= render 'form' %>
  </div>
<% end %>
