<%= page_div group: false do %>
  <div class="row">
  <div class="span6 offset2">
    <%= title 'Nueva pregunta' %>
    <h2>En <%= phase.title %></h2>
    <%= render 'form' %>
  </div>
</div>
<% end %>
