<div class="group-header row">
  <div class="banner span12">
    <%= image_tag('logo-inicio-1170px.png', alt: 'Masqueunacasa Blog') %>
    <div class="overlay">
      <h2 class="black"><%= link_to_unless_current title, path %></h2>
      <div class="shape"></div>
    </div>
  </div>
</div>
