<div class="main-header site row">
  <div class="banner span12">
    <%= image_tag('LogoAzulRojo.png', alt: 'Masqueunacasa Blog', class: 'responsive') %>
    <div class="overlay">
      <h2 class="black"><%= link_to_unless_current title, path %></h2>
      <div class="shape"></div>
    </div>
  </div>
</div>
