<%= page_div row: true, group: false do %>
  <div class="span2 leftcol">
    &nbsp;
  </div>
  <div class="span6 center">
    <%= title "Editar #{document.class.model_name.human}" %>
    <%= render 'form' %>
  </div>
  <div class="span4 rightcol">
  </div>
<% end %>
