<table class="table">
  <tr>
    <td class="kudos expansible">
      <%= link_to '0 me gusta', '#', class: 'expander' %>
      <div class="expansor">
        0 personas han dicho que le gusta ésto.
        <%= link_to 'Me gusta', '#' %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="subscriptors expansible">
      <%= link_to '0 editoras', '#', class: 'expander' %>
      <div class="expansor">
        0 personas son las editoras de este contenido.
        <%= link_to 'Participar', '#' %>
      </div>
    </td>
  </tr>
</table>
