<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <%= "#{t('langs.lang')}: #{t('langs.' + T.l.to_s)}" %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% T.avl.reject { |l| l == T.l }.each do |l| %>
      <li><%= link_to t('langs.' + l.to_s), url_for(locale: l.to_s) %></li>
    <% end %>
  </ul>
</div>
