<!--<%= form_tag search_path, class: 'form-search', method: :get do %>
<input type="text" name="t" class="input-medium search-query">
<% end %>-->
  <%= link_to image_tag('Logo_Mquc.png', width: 271, height: 41), root_url(subdomain: nil), class: 'mquc' %>
  <%= render_group_header current_group %>
<div class="headrow">
  <div class="breadcrumbs">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
</div>


