<%# Estilos para .intro en welcome.css.scss %>

<% title 'Habitapedia' %>
<div class="span12">
  <div class="slider">
    <% habitapedia_notices.each do |notice| %>
      <%= render notice %>
      <%# render habitapedia_notices.first %>
    <% end %>
  </div>
</div>

<div class="phases-container span12 clearfix">
  <a name="fases"></a>
  <%= render partial: 'summary', 
    collection: phases, as: :phase %>
</div>

<div class="categories-container span12">
  <%= render partial: 'categories', 
    collection: phases, as: :phase %>
</div>
