<%# Estilos para .intro en welcome.css.scss %>

<% title 'Habitapedia' %>
<%= render habitapedia_notices.first if habitapedia_notices.first %>

<div class="phases-container span12 clearfix">
  <a name="fases"></a>
  <%= render partial: 'summary', 
    collection: phases, as: :phase %>
</div>

<div class="categories-container span12">
  <%= render partial: 'categories', 
    collection: phases, as: :phase %>
</div>
