<% google_maps %>

<div class="document-locations">
  <div class="hoverize">
    <div class="header">
      <h2>Dónde</h2>
    </div>
    <div class="locations">
      <div class="map-wrapper">
        <% if resource.location.present? %>
          <%= content_tag :div, nil, class: 'location map',
            style: "width: 300px; height: 300px",
            data: { longitude: resource.location.longitude,
                   latitude: resource.location.latitude} %>
        <% else %>
          <p>No hay información sobre localización  <%= "para #{resource.title.camelize}" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
