.map
  h2 = t Location.model_name.human(count: 1)
  = gmaps({ \
      "map_options" => { \
        language: T.l.to_s,
        "auto_adjust" => false,
        "zoom" => 16,
        "center_latitude" => location.latitude,
        "center_longitude" => location.longitude \
      },
      "markers" => { \
        "data" => location.to_gmaps4rails do |location, marker| \
            marker.json({ id: location.id, type: location.resource.class.to_s.downcase }); \
            marker.title location.resource.title; \
            marker.picture marker_picture(location); \
          end \
       } \
    })
