<% google_maps %>
<div class="row">
  <%= corner_span 'span6' do %>
    <h2>En <%= link_to parent.title, parent %></h2>
    <%= title 'Añadir un lugar' %>
    <%= render 'form' %>  
  <% end %>
</div>
