<!DOCTYPE html>
<html>
  <head> 
    <title><%= yield(:title) %> :: Masqueunacasa</title>
    <link href='/favicon.png' rel='shortcut icon' type='image/png'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/ga' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

